<div class="hero h-auto p-20">
  <div class="hero-content">
    <div class="max-w-md">
      <div class="card w-96 shadow-xl mt-20">
        <div class="card-image border-solid border-2 border-primary-content rounded-tl-xl rounded-tr-lg">
          <%= render partial: "figures",  locals: { opponent_current_hp: @battle.opponent.current_hp,
                                                    opponent_sprite: @battle.opponent.sprite,
                                                    pokemon_current_hp: @battle.trainer.pokemons.first.current_hp,
                                                    pokemon_sprite: @battle.trainer.pokemons.first.sprite,
                                                    state: @battle.state
                                                  } %>
        </div>
        <div class="card-body bg-primary-content rounded-bl-xl rounded-br-lg items-center text-center">
          <h2 class="card-title text-center">
            <%= @battle.trainer.name %> VS <%= @battle.opponent.name %>
          </h2>
          <div class="divider"></div>
          <div class="card-actions">
            <% if @battle.state == "move_selection" || @battle.state == "start" %>
              <ul class="menu bg-base-200 w-56 rounded-box">
                <li><%= button_to 'Run', escape_battle_path(@battle), method: :put, params: {id: @battle.id} %></li>
                <li><div class="divider"></div></li>
                <% if @battle.battle_type == "pve" %>
                  <li><%= button_to 'Capture', capture_path(@battle), method: :put, params: {id: @battle.id} %></li>
                  <li><div class="divider"></div></li>
                <% end %>
                <li><%= button_to 'Attack', attack_path(@battle), method: :put, params: {id: @battle.id} %></li>
              </ul>
            <% else %>
              <%= link_to "Find new pokemon", new_encounter_path, class: "btn btn-outline" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
