<div class="hero h-auto p-20">
  <div class="hero-content">
    <div class="max-w-md">
      <div class="card w-96 shadow-xl mt-20">
        <div class="card-image border-solid border-2 border-primary-content rounded-tl-xl rounded-tr-lg">
          <figure class="image-full" style="height:150px">
            <%= image_tag(@battle.opponent.sprite) %>
            <figcaption><%= @battle.opponent.current_hp %> HP</figcaption>
          </figure>
          <figure class="image-full" style="height:150px">
            <%= image_tag(@battle.trainer.pokemons.first.sprite) %>
            <figcaption><%= @battle.trainer.pokemons.first.current_hp %> HP</figcaption>
          </figure>
        </div>
        <div class="card-body bg-primary-content rounded-bl-xl rounded-br-lg items-center text-center">
          <h2 class="card-title text-center">
            <%= @battle.trainer.name %> VS <%= @battle.opponent.name %>
          </h2>
          <div class="divider"></div>
          <p><%= @battle.state %></p>
          <div class="card-actions">
            <ul class="menu bg-base-200 w-56 rounded-box">
              <li><%= button_to 'Escape', escape_battle_path(@battle), method: :put, params: {id: @battle.id} %></li>
              <li><div class="divider"></div></li>
              <li><%= button_to 'Capture', capture_path(@battle), method: :put, params: {id: @battle.id} %></li>
              <li><div class="divider"></div></li>
              <li><%= button_to 'Attack', attack_path(@battle), method: :put, params: {id: @battle.id} %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
